$nav:black;
$back: floralwhite;
$jumbo:#9575cd;

.modal-body {
    background-color: $back; }
  
  .modal-title{
    color:$jumbo;
  }
  
  .modal-header {
    background-color:$nav; }
  
  .row-header {
    margin: 0px auto;
    padding: 0px auto; }
  
  .row-content {
    margin: 0px;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }
  
  .footer {
    background-color: #E9E9E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px; }
  
  .jumbotron {
    padding: 70px 30px;
    margin: 0px;
    background:$jumbo;
    color: $back; }
  
  .Address {
    font-size: 80%
   color $nav; }
  
  .nav-color {
    background-color: $nav; }
  
  body {
    padding: 50px 0px 0px 0px;
    z-index: 0; }
  
  .reserve {
    background-color: #f0b811;
    width: 450px;
    color: $nav;
    border-radius: 5px; }
  
  .reserve_card {
    background-color: #ffc926; }
  
  .b {
    background-color: darkgrey; }
  